#Ignore __pycache__ and unneeded files
__pycache__/
Old/

#Ignore all plaintext files. They're most likely just reminders
*.txt

#Ignore compiled python files
*.py[cod]

#Also ignore testing scripts
*test.py
*.sh

# Ignore virtualenv
env
*.egg-info
